.column {
    display: flex;
    /* justify-content: center; */
    width: 30%;
    padding: 0 !important;
}

.row {
    display: flex;
    justify-content: center;
}

.ui.button.board_cell {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    height: 2.8em;
    max-width: 2.5em;
    margin: 0.5em 1em 0.5em 1em;
}